[package]
authors = ["David Peter <mail@david-peter.de>"]
build = "build.rs"
categories = ["command-line-utilities"]
description = "fd is a simple, fast and user-friendly alternative to find."
exclude = ["/benchmarks/*"]
homepage = "https://github.com/sharkdp/fd"
keywords = [
    "search",
    "find",
    "file",
    "filesystem",
    "tool",
]
license = "MIT/Apache-2.0"
name = "fd-find"
readme = "README.md"
repository = "https://github.com/sharkdp/fd"
version = "8.3.0"
edition= "2018"

[badges.appveyor]
repository = "sharkdp/fd"

[badges.travis-ci]
repository = "sharkdp/fd"

[[bin]]
name = "fd"
path = "src/main.rs"

[build-dependencies]
clap = "3.0.0"
version_check = "0.9"

[dependencies]
ansi_term = "0.12"
atty = "0.2"
ignore = "0.4.3"
num_cpus = "1.8"
regex = "1.5.4"
regex-syntax = "0.6"
ctrlc = "3.2"
humantime = "2.1"
lscolors = "0.8"
globset = "0.4"
anyhow = "1.0"
dirs-next = "2.0"
normpath = "0.3"
chrono = "0.4"
once_cell = "1.9.0"
crossbeam-channel = "0.5.1"

[dependencies.clap]
version = "3.0.0"
features = ["suggestions", "color", "wrap_help"]

[target.'cfg(unix)'.dependencies]
users = "0.11.0"
nix = "0.23.1"

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"

# FIXME: Re-enable jemalloc on macOS
# jemalloc is currently disabled on macOS due to a bug in jemalloc in combination with macOS
# Catalina. See https://github.com/sharkdp/fd/issues/498 for details.
[target.'cfg(all(not(windows), not(target_os = "android"), not(target_os = "macos"), not(target_os = "freebsd"), not(target_env = "musl"), not(target_arch = "riscv64")))'.dependencies]
jemallocator = {version = "0.3.0", optional = true}

[dev-dependencies]
diff = "0.1"
tempdir = "0.3"
filetime = "0.2"
test-case = "1.2"

[profile.release]
lto = true
codegen-units = 1

[features]
use-jemalloc = ["jemallocator"]
default = ["use-jemalloc"]
