[package]
authors = ["David Peter <mail@david-peter.de>"]
build = "build.rs"
categories = ["command-line-utilities"]
description = "fd is a simple, fast and user-friendly alternative to find."
exclude = ["/benchmarks/*"]
homepage = "https://github.com/sharkdp/fd"
keywords = [
    "search",
    "find",
    "file",
    "filesystem",
    "tool",
]
license = "MIT/Apache-2.0"
name = "fd-find"
readme = "README.md"
repository = "https://github.com/sharkdp/fd"
version = "6.3.0"

[[bin]]
name = "fd"
path = "src/main.rs"
[badges.appveyor]
repository = "sharkdp/fd"

[badges.travis-ci]
repository = "sharkdp/fd"

[build-dependencies]
clap = "2.30.0"
version_check = "0.1.3"

[dependencies]
ansi_term = "0.9"
atty = "0.2"
ignore = "0.4.1"
lazy_static = "1"
num_cpus = "1.8"
regex = "0.2.7"
regex-syntax = "0.5"
ctrlc = "3.0"

[dependencies.clap]
version = "2.30.0"
features = ["suggestions", "color", "wrap_help"]

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2"
winapi = "0.2"

[dev-dependencies]
diff = "0.1"
tempdir = "0.3"
